:root{
    --primary-color: #03233C;
    --secondary-color:#3CD1BE;

}

.heading{
    text-align: center;
    color: var(--primary-color);
    padding: 10px 5px;

}

.subheading{
    text-align: center;
    padding: 10px 5px;

}

.typeheading{
    font-size: 250%;
    color: var(--primary-color);
}

button{
    border: 1px;
    cursor: pointer;
    outline: none;
    border-radius: 50px;
    font-size: 14px;
    height: 48px;
    padding: 0px 18px;
    text-align: center;
    background-color: var(--secondary-color);
    
}
button:hover{
    background-color: lightgray;

    color: var(--secondary-color);
    

}
button a{
    color: var(--primary-color);
    text-decoration: none;
}
button a:hover{
    
    color: var(--secondary-color);
}
.nav-link:hover{
  color:var(--secondary-color);
}
.body{
    background-color: #F5F7FA;
}

.topbar{
    border-color: var(--secondary-color);
    
}
@media (max-width: 900px){
    .topbar{
        padding: 80px 20px;
    }
}

footer{
    background-color: var(--primary-color);
    color:white;
    text-decoration: none;
}
ul li{ 
    text-decoration: none;
}